*{font-family: Arsenal;}
body{
    background-color: #25385A;
   overflow-x: hidden;
    overflow-y: hidden; 
}

#fundo{
    background-image: url(../../imagens/Retângulo\ 53.png);
    background-repeat: no-repeat;
    padding-bottom: 2%;
    margin-top: -2%;
    width: 100%;
}


#logo_cautela img{
    margin-top: 2%;
    margin-left: 8%;
    width: 39%;
}


#login{
    background-color: #25385A;
    display: inline-block;
    margin-left: 65%;
    padding-top: 39%;
    padding-bottom: 22%;
    width: 28%;
    margin-top: -48%;
    margin-left: 52%;
}

#login label{
    color: #FFFFFF;
    font-size: 1.25vw;
    font-family: 'Arsenal';
    margin-left: 10%;
    margin-bottom: 7%;
}

.formulario{
    display: flex;
        flex-direction: column;
        position: absolute;
        top: 29%;
        left: 57%;
}

#id_email{    
    background-color: #25385A;
    border-radius: 6px;
    border-style: solid;
    padding: 6%;
    border-color: #76A6AD;
    width: 187%;
    margin-left: 10%;
    margin-bottom: 8%;
    color: white;  
}

#id_senha{
    background-color: #25385A;
    border-radius: 6px;
    border-style: solid;
    padding: 6%;
    border-color: #76A6AD;
    width: 188%;
    margin-left: 10%;
    color: white;
    margin-bottom: 6%;
}

#id_submit{
    width: 204%;
    margin-left: 10%;
    background-color: #18D4C9;
    border-radius: 6px;
    padding: 6%;
    color: white;
    font-family: 'Arsenal';
    border-style: none;
    font-family: Arsenal;
    cursor: pointer;
}
